@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro+Titling&family=Dancing+Script&family=Foldit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #815735;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--font-family);
  width: 100vw;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 40px;
  font-weight: 800;
  font-family: "Dancing Script", cursive;
}

.logo:hover {
  color: var(--secondary-color);
}
/* 
.search-container {
  position: relative;
}

.search-container input[type="text"] {
  background: #99b0c5;
  padding: 10px 35px 10px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 40px;
  width: 500px;
  font-size: 16px;
}

.search-container .search-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  font-size: 20px;
  cursor: pointer;
} */

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 10px;
}

.menu li a {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.menu li a:hover {
  color: var(--secondary-color);
}

/* main */
.main1 {
  display: grid;
  place-content: center;
  min-height: 85vh;
}

.main2 {
  max-width: 90vw;
  width: 650px;
  margin: auto;
}

.create-survey {
  width: 400px;
  height: 250px;
  border: 2px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  font-size: 26px;
}

@media screen and (max-width:500px) {
  .create-survey {
    width: 270px;
    height: 170px;
  } 
}

.add-icon {
  background-color: var(--secondary-color);
  border-radius: 100%;
  color: var(--primary-color);
  width: 3rem;
  height: 3rem;
  margin-top: 15px;
  cursor: pointer;
}

.remove-option {
  background-color: var(--secondary-color);
  border-radius: 100%;
  color: var(--primary-color);
  width: 25px;
  height: 24px;
  font-weight: 600;
  font-size: 20px;
  display: grid;
  place-content: center;
  margin-left: 5px;
  cursor: pointer;
}

.remove-question {
  color: var(--secondary-color);
  border-radius: 100%;
  background: var(--primary-color);
  width: 25px;
  height: 24px;
  font-weight: 600;
  font-size: 20px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.title-area {
  background-color: var(--primary-color);
  border-radius: 13px;
  margin-top: 30px;
  padding: 20px 20px;
  border: 1px solid rgb(82, 79, 79);
}

.input-area {
  background-color: var(--primary-color);
  border-radius: 13px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 20px;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: 500;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 28px;
  font-weight: 500;
}

#title {
  text-align: center;
}

::placeholder {
  font-size: 18px;
}

input[type="text"] {
  margin-top: 8px;
  font-size: 18px;
  padding: 12px 8px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #f0f0f0;
  border-bottom: 4px solid;
  border-color: var(--secondary-color);
}

.option {
  display: flex;
  align-items: center;
  margin-top: 16px;
  flex-wrap: wrap;
  width: 100%;
}

.optionsChild {
  margin-top: 18px;
}

.span {
  margin-top: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.option-input {
  flex-grow: 1;
  width: 100%;
  margin: auto;
}

.add-option-btn {
  margin-top: 18px;
}

button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  position: relative;
  width: 40px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 13px;
  border: 1px solid black;
  display: flex;
  transition: 0.4s;
}

.toggle.active {
  background-color: var(--secondary-color);
}

.toggle-btn {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.4s;
}

.toggle.active .toggle-btn {
  background-color: var(--primary-color);
  left: 17px;
}

.required {
  font-size: 16px;
  margin-left: 5px;
}

.btn-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

#add-question-btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px 18px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

#submit-btn {
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 8px 18px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.question {
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 2px dashed black;
}

.question-title {
  font-size: 20px;
  font-weight: 400;
}

.option {
  font-size: 18px;
  font-weight: 400;
}

#radio {
  margin-left: 10px;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: -10px;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: var(--primary-color);
    transition: 0.4s;
  }
  .menu li {
    margin-right: 0px;
    padding: 20px 0px;
  }
  .menu.active {
    left: 0;
  }
}

#questions {
  text-align: center;
}

#title-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px dashed black;
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 10px;
}
